<div class="footer-container" style="display: flex;
justify-content: center;">
    <p>
        <small style="font-weight: 600;">© Untitled | Website created with 
            <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>
            /<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a>
        </small>
    </p>
    <p class="footer-share-icons">
          <a href="https://www.twitter.com" class="fa-icon" title="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com" class="fa-icon" title="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="https://www.behance.com" class="fa-icon" title="">
                <i class="fa fa-behance" aria-hidden="true"></i>
          </a>
          <a href="https://www.vimeo.com" class="fa-icon" title="">
                <i class="fa fa-vimeo" aria-hidden="true"></i>
          </a>
    </p>
                
</div>